<div id="employee-edit" class="gray-panel">
  <h1>Edit Employees</h1>
  <%= form_with model: @employee do |form| %>
    <%= form.label :id %>
    <div>
      <%= form.text_field :id, :disabled=>true %>
    </div>
    <%= form.label :name %>
    <div>
      <%= form.text_field :name %>
    </div>
    <%= form.label :email %>
    <div>
      <%= form.text_field :email %>
    </div>
    <%= form.label :position %>
    <div>
      <%= form.text_field :position %>
    </div>
    <%= form.label :private_number %>
    <div>
      <%= form.text_field :private_number %>
    </div>
    <%= form.label 'Rol (Admin?)' %>
    <div>
      <%= form.text_field :admin %>
    </div>
    <%= form.label 'Branch id assigned' %>
    <div>
      <%= collection_select(:employee, :store_id, Store.all, :id, :full_store) %>
    </div>
    <div>
      <%= form.submit ' Edit employee', class:"blue-button" %>
    </div>
  <% end %>
  <%= render 'back_to_employee' %>
</div>
