<h1>Create new employee</h1>
<%= form_with model: @employee do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>
  <div>
    <%= form.label :position %>
    <%= form.text_field :position %>
  </div>
  <div>
    <%= form.label :private_number %>
    <%= form.text_field :private_number %>
  </div>
  <div>
    <%= form.label :employee_number %>
    <%= form.text_field :employee_number %>
  </div>
  <div>
    <%= form.label 'Rol (Admin?)' %>
    <%= form.text_field :admin %>
    <div>
      <%= form.submit 'Create new employee' %>
    </div>
  <% end %>
