<div id="employee-info">
  <h1>Employee Information</h1>
  <hr>
  <div>
    <label for="">Id:</label>
    <%= @employee.id %>
  </div>
  <div>
    <label for="">Name:</label>
    <%= @employee.name %>
  </div>
  <div>
    <label for="">Email:</label>
    <%= @employee.email %>
  </div>
  <div>
    <label for="">Company Position:</label>
    <%= @employee.position %>
  </div>
  <div>
    <label for="">Private Number:</label>
    <%= @employee.private_number %>
  </div>
  <div>
    <label for="">Admin Rol:</label>
    <%= @employee.admin %>
  </div>
  <div>
    <label for="">Branch:</label>
    <%= @employee.store.full_store %>
  </div>
  <%= button_to  "Edit Employee", edit_employee_path, method: :get%>
  <%= button_to  "Delete Employee", @employee, method: :delete %>
  <%= render 'back_to_employee' %>
</div>
