<div class="gray-panel">
  <h2>Sign up</h2>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>
    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>
    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>
    <div>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div>
      <%= f.label :position %>
      <%= f.text_field :position %>
    </div>
    <div>
      <%= f.label :private_number %>
      <%= f.text_field :private_number %>
    </div>
    <div>
      <%= f.label :admin %>
      <%= f.text_field :admin %>
    </div>
    <div>
      <%= f.label :store_id %>
      <%= f.text_field :store_id %>
    </div>
    <div class="actions">
      <%= f.submit "Crear" %>
    </div>
  <% end %>
</div>
