<div class="gray-panel">
  <hr>
  <h1>STORES</h1>
  <%= form_with url: stores_path, method: :get do |form| %>
    <!--<%= form.label :date %>-->
    <%= form.text_field :query_text, placeholder: 'nombre sucursal', onChange: 'this.form.requestSubmit()', value: params[:query_text] %>
  <% end %>
  <div>
    <% @stores.each do |store| %>
      <div>
        <%= store.name %>
      </div>
      <div>
        <%= button_to  "Detail", store, method: :get %>
      </div>
    <% end %>
  </div>
  <div>
    <%= button_to 'Create New Store', new_store_path, method: :get %>
  </div>
  <%= render 'shared/back_to_admin' %>
</div>
