<div id="admin-panel">
  <h1>Admin Panel</h1>
  <div class="panel-buttons">
    <%= button_to "Manage Employees", employees_path, method: :get %>
    <%= button_to "Manage Company Branches", stores_path, method: :get %>
    <%= button_to "Reports", reports_path, method: :get %>
  </div>
  <div id="admin-users">
    <h1>Admin Users</h1>
    <ul>
      <% @admins.each do |admin| %>
        <li><%= admin.name %></li>
      <% end %>
    </ul>
  </div>
  <%= link_to  "Go back home", root_path %>
</div>
