<h1>Average time check by month</h1>
<%= form_with url: checks_average_by_month_path, method: :get do |form| %>
  <%= form.text_field :query_text, placeholder: 'Type a month', onChange: 'this.form.requestSubmit()', value: params[:query_text] %>
<% end %>
<table>
  <thead>
    <tr>
      <th>
        <p>Month</p>
      </th>
      <th>
        <p>Employee</p>
      </th>
      <th>
        <p>Average check-in</p>
      </th>
      <th>
        <p>Average check-out</p>
      </th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
<table>
  <tbody>
    <% @employees.each do |employee| %>
      <% employee.attendances.each do |attendance| %>
        <tr>
          <td>
            <%= employee.name %>
          </td>
          <td>
            <%= attendance.check_in %>
          </td>
          <td>
            <%= attendance.check_out %>
          </td>
          <td>
            <%= ((attendance.check_out - attendance.check_in) / 60 / 60).round(2) %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
