<%= javascript_include_tag 'clock'%>
<div id="home">
  <div id="homeTitle">
    <h1>HOME</h1>
  </div>
  <div id="date">
    <h3><%= @date = Time.now.strftime("%d/%m/%Y") %></h3>
  </div>
  <div id="clock">
    <form name="form_reloj">
      <input class="clock_input" type="text" name="reloj" size="10" onfocus="window.document.form_reloj.reloj.blur()">
    </form>
  </div>
  <div id="number">
    <%= form_with model: @attendance do |form| %>
      <div>
        <%= form.text_field :employee_private_number, placeholder:"Private Number" %>
      </div>
      <div>
        <%= form.submit 'Check' %>
      </div>
    <% end %>
  </div>
  <div id="adminPanel">
    <%= link_to 'Admin Panel', admin_index_path, method: :get%>
  </div>
</div>