<%= javascript_tag 'clock' %>

<h1>Home Check In</h1>
<form name="form_reloj">
  <input type="text" name="reloj" size="10" onfocus="window.document.form_reloj.reloj.blur()">
</form>
<div>
  <h3>
    <%= @date = Time.now.strftime("%d-%m-%Y") %>
  </h3>
</div>
<div>
  <h1>
    <%= @hour = Time.now.strftime("%H:%M:%S") %>
  </h1>
</div>
<hr>
<%= form_with model: @attendance do |form| %>
  <div>
    <%= form.label 'Private number'%>
    <!--<%= form.text_field :attribute %>-->
  </div>
    <% form.text_field :check_in, value: Time.now.strftime("%Y-%m-%d %H:%M:%S") %>
    <% form.text_field :check_out, value: Time.now.strftime("%Y-%m-%d %H:%M:%S") %>
  <div>
    <%= form.submit 'Check' %>
  </div>
<% end %>
<div>
  <%= button_to 'Admin Panel', admin_index_path, method: :get%>
</div>
