<%= javascript_include_tag 'clock'%>

<h1>Home Check In</h1>
<div>
  <h3>
    <%= @date = Time.now.strftime("%d-%m-%Y") %>
  </h3>
</div>
<form name="form_reloj">
  <input class="clock_input" type="text" name="reloj" size="10" onfocus="window.document.form_reloj.reloj.blur()">
</form>


<hr>
<%= form_with model: @attendance do |form| %>
  <div>
    <%= form.label 'Private number'%>
    <%= form.number_field :employee_id %>
  </div>
    <%= form.text_field :check_in, value: DateTime.now.strftime("%Y-%m-%d %H:%M:%S") %>
    <%= form.text_field :check_out, value: DateTime.now.strftime("%Y-%m-%d %H:%M:%S") %>
  <div>
    <%= form.submit 'Check' %>
  </div>
<% end %>
<div>
  <%= button_to 'Admin Panel', admin_index_path, method: :get%>
</div>
