<h1>Home Check In</h1>
<div>
  <h3>
    <%= @date = Time.now.strftime("%d-%m-%Y") %>
  </h3>
</div>
<div>
  <h1>
    <%= @hour = Time.now.strftime("%H:%M:%S") %>
  </h1>
</div>
<hr>
<%= form_with model: @attendance do |form| %>
  <div>
    <%= form.label 'Date' %>
    <%= form.date_field :actual_date, value: Time.now.strftime('%Y-%m-%d'), readonly: true %>
  </div>
  <div>
    <%= form.label 'Check In Hour' %>
    <%= form.time_field :check_in, value: Time.now.strftime('%H:%M'), readonly: true %>
  </div>
  <div>
    <%= form.label 'Check Out Hour' %>
    <%= form.time_field :check_out, value: Time.now.strftime('%H:%M'), readonly: true %>
  </div>
  <div>
    <%= form.submit 'Check' %>
  </div>
<% end %>
<div>
  <%= button_to 'Admin Panel', admin_index_path, method: :get%>
</div>
